
@model Introducao.Models.Pessoa

@{
    ViewBag.Title = "Index";
}

<h2>Curso de Asp MVC</h2>
<p>Curso com Hugo Vasconcelos</p>

<br />
<br />

@*Usando ViewData*@
@*<p>@ViewData["PessoaId"]</p>
  <p>@ViewData["Nome"]</p>
  <p>@ViewData["Tipo"]</p>
*@

@*Usando ViewBag*@
@*<p>@ViewBag.id</p>
  <p>@ViewBag.nome</p>
  <p>@ViewBag.tipo</p>
*@

@*View Tipada*@
<p>@Model.PessoaId</p>
<p>@Model.Nome</p>
<p>@Model.Tipo</p>

<p>View Tipada</p>

<form action="Home/Lista" method="post">
    <fieldset>
        <legend>Informações de Pessoas</legend>

        <div>
            <label for="PessoaId">Código</label>
        </div>
        <div>
            <input type="number" value="@Model.PessoaId" name="PessoaId" />
        </div>
        <div>
            <label for="Nome">Nome</label>
        </div>
        <div>
            <input type="text" value="@Model.Nome" name="Nome" />
        </div>
        <div>
            <label for="Tipo">Tipo</label>
        </div>
        <div>
            <input type="text" value="@Model.Tipo" name="Tipo" />
        </div>
        <br />
        <p><input type="submit" value="Enviar" /></p>
    </fieldset>
</form>